<div style="display: block;margin-top:5px;margin-right: 5px;float:left;margin-left:5px;">
    <button mat-icon-button><img (click)="OpenDeveloperMenu();" [src]="ImageUrl" style="height:25px;width:25px;"/></button>
</div>
<div class="Menu" *ngIf="MenuIsShown" (mouseleave)="MenuIsShown=false;" (click)="MenuIsShown=false;">
    <div (click)="ShowPermissionPage();">{{ 'permissions' | translate }}</div>
    <div (click)="ShowLongPage();">{{ 'long-page' | translate }}</div>
    <div (click)="ShowShortPage();">{{ 'short-page' | translate }}</div>
</div>
