.Menu{
    max-width:250px;border:1px solid greenyellow;
    position: fixed;
    top:50px;
    right:0;
    background-color: darkseagreen;
    color: black;
    z-index: 7;
    padding: 1px;
    text-align: left;
}
.Hidden{
    display: none;
}
.Shown{
    display: inline-block;
}

.Menu div{
    cursor: pointer;
    padding: 7px;
}

.Menu div:hover{
    background-color: chartreuse;
}