<div>
    <div class="FixedToolBarCollection">
        <div class="VeryLargeScreens">
            <div class="Toolbar">
                <app-developer-menu></app-developer-menu><app-language-selector></app-language-selector><app-logout-menu></app-logout-menu>
            </div>
        </div>
        <div class="LargeScreens">
            <div class="Toolbar">
                <app-language-selector></app-language-selector><app-logout-menu></app-logout-menu>
            </div>
        </div>
        <div class="MediumScreens">
            <div class="Toolbar">
                <app-language-selector></app-language-selector><app-logout-menu></app-logout-menu>
            </div>
            
        </div>
        <div class="SmallScreens">
            <div class="Toolbar">
                <app-language-selector></app-language-selector><app-logout-menu></app-logout-menu>
            </div>
            
        </div>
        <div class="TinyScreens">
            <div class="Toolbar">
                <app-language-selector></app-language-selector><app-logout-menu></app-logout-menu>
            </div>
            
        </div>
    </div>
    <div class="ScrollableContent">
        <div class="ScrollableToolbarCollection">
            
            <div class="LargeScreens">
                <div class="Toolbar">
                    <app-developer-menu></app-developer-menu>
                </div>
            </div>
            <div class="MediumScreens">
                <div class="Toolbar">
                    <app-developer-menu></app-developer-menu>
                </div>
                <div class="Toolbar">
    
                </div>
            </div>
            <div class="SmallScreens">
                <div class="Toolbar">
                    <app-developer-menu></app-developer-menu>
                </div>
                <div class="Toolbar">
    
                </div>
                <div class="Toolbar">
    
                </div>
            </div>
            <div class="TinyScreens">
                <div class="Toolbar">
                    <app-developer-menu></app-developer-menu>
                </div>
                <div class="Toolbar">
    
                </div>
                <div class="Toolbar">
    
                </div>
                <div class="Toolbar">
    
                </div>
            </div>
        </div>
        <div class="PageContent">
            <router-outlet></router-outlet>
        </div>
        
    </div>
    <div class="FixedFooter">

    </div>
</div>


